  $main-text-color: #001E41;  
  $white: #FFF;
  

   
  
  
   
  %source-sans-pro-600{ 
    font-family: 'SourceSansPro-SemiBold'; 
    font-weight: 600; 
  }  
   
  %source-sans-pro-400{ 
    font-family: 'SourceSansPro-Regular'; 
    font-weight: 400; 
  }   
   
  %roboto-900{ 
    font-family: 'Roboto-Bold'; 
    font-weight: 900; 
  } 
   
  %roboto-700{ 
    font-family: 'Roboto-Bold'; 
    font-weight: 700; 
  } 
    
  %roboto-500{ 
    font-family: 'Roboto-Medium'; 
    font-weight: 500; 
  }   
   
  %roboto-400{ 
    font-family: 'Roboto-Regular'; 
    font-weight: 400; 
  }  
  